[submodule "anchored-branched-universal-physics-transformers"]
	path = anchored-branched-universal-physics-transformers
	url = https://github.com/Emmi-AI/anchored-branched-universal-physics-transformers
